.main-column {
    height: 100vh;
    width: 50vw;
    display: block;
}

.card-main {
    height: 100vh;
    display: block;
    text-align: start;
    padding: 369px 0px 0px 250px;
}

.main-title {
    color: #E67E23;
    font-size: 1.8rem;
    font-weight: bolder;
    letter-spacing: 5px;

}

.main-price {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    letter-spacing: 1px;
    padding-top: 5px;
    font-size: 21px;
}

.main-prev {
    padding-top: 50px;
}

.prev {
    padding-left: 25px;
}

.main-btn {
    display: relative;
    text-decoration: none;
    padding-right: 10px;
    color: black;
}